<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>
    <%= title %>管理画面
  </title>
  <meta name="robots" content="noindex, nofollow">
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/categorymanage.css">
</head>

<body>
  <header>
    <h2>
      <%= title %>管理画面
    </h2>
    <a href="<%= root %>/manage/">前の画面へ戻る</a>
  </header>
  <table class="btntbl">

    <tr>
      <th>ID</th>
      <th>表示</th>
      <th>カテゴリ名</th>
      <th>英語カテゴリ名</th>
      <th>画像URL</th>
      <th>説明文</th>
    </tr>
    <% if (data.length > 0) { %>
    <% for ( let i=0; i < data.length; i++ ) { %>
      <tr>
        <form action="/manage/category" id="regform" method="post">
          <td>
            <%= data[i].id %>
          </td>
          <td>
            <input type="checkbox" id="checkbox" name="check[]" value="<%= data[i].id %>" <%=data[i].usable==1 ? 'checked' : '' %> >
          </td>
          <td>
            <%= data[i].categoryname %>
          </td>
          <td>
            <input type="text" class="standard" name="englishname" value="<%= data[i].englishname %>">
          </td>
          <td>
            <input type="text" class="standard" name="imageurl" value="<%= data[i].imagepath %>">
          </td>
          <td>
            <textarea class="textarea" rows="5" cols="50" name="context" value=""><%= data[i].context %></textarea>
          </td>
          <input type="hidden" id="id" name="id" value="<%= data[i].id %>" />
      </tr>
      <% } %>
      <% } %>
        <tr>
          <td colspan="6">
            <button class="subbutton button-g button-6 button-wide" type="submit">登録</button>
          </td>
        </tr>
        </form>
        <tr>
          <td colspan="6">
            <a href="<%= root %>/manage/">前の画面へ戻る</a>
          </td>
        </tr>

  </table>
  <p class="copyright">Copyright 2025 Compass, Inc.</p>
</body>

</html>