<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>Compassギフトサイト商品詳細</title>
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="keywords" content="ギフト,酒,タンブラー,ワイン,グラス">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="/imgages/apple-touch-icon.png">
  <meta name="twitter:card" content="summary">
  <meta name="format-detection" content="telephone=no">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="canonical" href="">
  <link rel="apple-touch-icon" sizes="180x180" href="/imgages/apple-touch-icon.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" type="image/png" href="/imgages/android-touch-icon.png" sizes="192x192">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/detail.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/index.js"></script>

</head>

<body>
  <header>
    <div class="header-wrapper">
      <div class="header-flex">
        <div class="header-icon hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="header-logo">
        <a href="/">
          <div class="gallery-cell">
            <img class="forpc header-image" src="/images/logo/LOGO.png" alt="">
            <img class="forsp header-image" src="/images/logo/LOGO.png"
              srcset="/images/logo/LOGO.png 1x,/images/logo/LOGO@2x.png 2x,/images/logo/LOGO@3x.png 3x" alt="">
          </div>
        </a>
      </div>
      <div class="header-iconarea">
        <div class="header-icon forpc">
          <img src="/images/icon/search.png">
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-heart"></i>
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
    <div class="search-box forsp">
      <input type="text" name="search" placeholder="検索" class="textbox">
    </div>
  </header>

  <main>
    <nav class="navigation forpc">
      <ul>
        <% if (typeof category !='string' ) { %>
          <% category.forEach(function(val) { %>
            <li><a href="/category/<%= val.id %>">
                <%= val.categoryname %>
              </a></li>
            <% }) %>
              <% } %>
      </ul>
    </nav>
    <div class="main-breadcrumb-wrapper">
      <nav>
        <ol class="breadcrumb">
          <li><a href="/">TOP</a></li>
          <li><a href="/category/<%= category.id %>">
              <%= product.categoryname %>
            </a></li>
        </ol>
      </nav>
    </div>

    <div class="wrap detail-main-wrapper">
      <div class="detail-main-img">
        <img class="detailimg" src="<%= product.imagepath %>" alt="<%= product.productname %>">
      </div>
      <div class="wrap information-main-wrapper">
        <ul class="detail-flex">
          <li class="detail-list-title">
            <%= product.productname %>
          </li>
          <li class="detail-list-review">
            <div class="rate"><span class="rate4"></span>&emsp;<span class="ratestr">1レビュー</span></div>
          </li>
          <li class="detail-list-price">
            <div class="price txt-purple noto-sans">
              <%= product.priceRange %>円<span class="headline-small">&thinsp;(税込)</span>
            </div>
          </li>
          <li class="detail-list-content">
            <p>※配送料は購入手続き時に計算されます。</p>
            <p>商品番号:&nbsp;<%= product.id %>
            </p>
          </li>
          <hr>
          <form name="cartForm" action="/update/cart" method="post">
            <li class="detail-number-area">
              <div class="minusbutton"><i class="fa-solid fa-minus"></i></div>
              <input class="productid" type="hidden" name="pid" value="<%= product.id %>">
              <input id="numarea" class="numarea" type="number" name="num" value="1" min="1">
              <div class="plusbutton"><i class="fa-solid fa-plus"></i></div>
              <div class="favbutton">
                <i class="hearton heartbutton fa-solid fa-heart display-none"></i>
                <i class="heartoff heartbutton fa-regular fa-heart"></i>
              </div>
            </li>
            <li class="detail-list-buttons">
              <div class="btn">
                <button class="btn-cart">
                  <i class="fa-solid fa-cart-shopping"></i>&ensp;<input class="btn-red" type="submit" value="カートに入れる">
                </button>
              </div>
            </li>
          </form>
        </ul>
        <hr>
        <div class="information-area">
          <%= product.description %>
        </div>
      </div>
    </div>

    <div class="review-main-wrapper">
      <hr>
      <h2 class="review-list-title">カスタマーレビュー</h2>
      <div class="review-main-child">
        <div class="review-point">
          <ul class="review-point-flex">
            <li class="review-list-head">
              <div class="rate"><span class="rate4"></span>&emsp;5点満点中3.50</div>
            </li>
            <li class="review-list-head">
              <div class="head">1のレビューに基づいています</div>
            </li>
          </ul>
        </div>
        <div class="review-stars">
          <canvas id="myChart"></canvas>
        </div>
        <div class="review-stars-button">
          <button>
            <i class="fa-solid fa-pencil"></i>&emsp;<span class="review-str">レビューを書く</span>
          </button>
        </div>
      </div>
      <div class="review-list-newest">
        <details>
          <summary>
            最新
            <span class="ico"></span>
          </summary>
          <div class="inner">
            <ul class="review-point-flex">
              <li class="list-review">
                <div class="rate"><span class="rate4"></span></div>
                <div class="date">10/24/2024</div>
              </li>
              <li class="list-profile">
                <div class="usericon"><i class="fa-solid fa-user"></i></div>
                <div class="username">シャトープピーユ好きおじさん</div>
              </li>
              <li class="list-title">シャトープピーユ今年イチオシです</li>
              <li class="list-content">シャトープピーユ最高です。コスパいいですし、味しっかりしてるし。リピ確定。</li>
            </ul>
          </div>
        </details>
      </div>
      <hr>
    </div>

    <div class="wrap main-recommend-wrapper">
      <h3 class="detail-standard libre-baskerville">
        <span class="detail-small noto-sans">おすすめ</span>
      </h3>
      <div class="product-row-wrapper">
        <div id="recommendctrl" class="forsp product-controller">
          <span class="leftarrow">
            <i class="fa-solid fa-angles-left fa-2x"></i>
          </span>
          <span class="rightarrow">
            <i class="fa-solid fa-angles-right fa-2x"></i>
          </span>
        </div>
        <div id="recommendarea" class="product-row-parent">
          <% if (typeof recommend !='string' ) { %>
            <% recommend.forEach(function(val) { %>
              <div class="product-row-child">
                <ul class="product-flex">
                  <li class="list-image">
                    <div class="favbutton">
                      <i class="hearton heartbutton fa-solid fa-heart display-none" value=""><span>
                          <%= val.id %>
                        </span></i>
                      <i class="heartoff heartbutton fa-regular fa-heart" value=""><span>
                          <%= val.id %>
                        </span></i>
                    </div>
                    <a href="/product/<%= val.id %>">
                      <img class="recommend1" src="<%= val.imagepath %>" alt="<%= val.productname %>">
                    </a>
                  </li>
                  <li class="list-category">
                    <%= val.categoryname %>
                  </li>
                  <li class="list-title">
                    <%= val.productname %>
                  </li>
                  <li class="list-content">
                    <p>
                      <%= val.description %>
                    </p>
                  </li>
                </ul>
              </div>
              <% }) %>
                <% } %>
        </div>
      </div>
    </div>

    <div class="wrap main-recommend-wrapper">
      <h3 class="detail-standard libre-baskerville">
        <span class="detail-small noto-sans">チェックした商品</span>
      </h3>
      <div class="product-row-wrapper">
        <div id="checkedctrl" class="forsp product-controller">
          <span class="leftarrow">
            <i class="fa-solid fa-angles-left fa-2x"></i>
          </span>
          <span class="rightarrow">
            <i class="fa-solid fa-angles-right fa-2x"></i>
          </span>
        </div>
        <div id="checkedarea" class="product-row-parent">
          <% if (typeof recommend !='string' ) { %>
            <% recommend.forEach(function(val) { %>
              <div class="product-row-child">
                <ul class="product-flex">
                  <li class="list-image">
                    <div class="favbutton">
                      <i class="hearton heartbutton fa-solid fa-heart display-none" value=""><span>
                          <%= val.id %>
                        </span></i>
                      <i class="heartoff heartbutton fa-regular fa-heart" value=""><span>
                          <%= val.id %>
                        </span></i>
                    </div>
                    <a href="/product/<%= val.id %>">
                      <img class="checked1" src="<%= val.imagepath %>" alt="<%= val.productname %>">
                    </a>
                  </li>
                  <li class="list-category">
                    <%= val.categoryname %>
                  </li>
                  <li class="list-title">
                    <%= val.productname %>
                  </li>
                  <li class="list-content">
                    <p>
                      <%= val.description %>
                    </p>
                  </li>
                </ul>
              </div>
              <% }) %>
                <% } %>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <hr>
    <div class="footer-area">
      <div class="content-area">
        <img class="appeal" src="/images/logo/LOGO.png">
        <div class="category">
          <% if (typeof recommend !='string' ) { %>
            <% category.forEach(function(val) { %>
              <div>
                <a href="/category/<%= val.id %>">
                  <%= val.categoryname %>
                </a>
              </div>
              <% }) %>
                <% } %>
        </div>
        <div class="content">
          <div>テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
        </div>
      </div>
      <div class="icon-area">
        <div>
          <img src="/images/logo/facebook.png" alt="facebookロゴ">
        </div>
        <div>
          <img src="/images/logo/instagram.png" alt="instagramロゴ">
        </div>
        <div>
          <img src="/images/logo/line.png" alt="lineロゴ">
        </div>
        <div>
          <img src="/images/logo/xcompany.png" alt="xcompanyロゴ">
        </div>
      </div>
    </div>
    <p class="copyright">Copyright 2025 Compass, Inc.</p>
  </footer>
  <script src="/js/star.js"></script>
</body>

</html>