<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>
    <%= title %>管理画面
  </title>
  <meta name="robots" content="noindex, nofollow">
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/goodmanage.css">
</head>

<body>
  <header>
    <h2>
      <%= title %>管理画面
    </h2>
    <a href="<%= root %>/manage/">前の画面へ戻る</a>
  </header>
  <table class="btntbl">
    <tr>
      <th>ID</th>
      <th>商品名</th>
      <th>いいね数</th>
    </tr>
    <% if (data.length > 0) { %>
    <% for ( let i=0; i < data.length; i++ ) { %>
    <tr>
      <td>
        <%= data[i].id %>
      </td>
      <td>
        <%= data[i].productname %>
      </td>
      <td>
        <%= data[i].good %>
      </td>
    </tr>
    <% } %>
    <% } %>
  </table><br>
  <a href="<%= root %>/manage/">前の画面へ戻る</a>
  <p class="copyright">Copyright 2025 Compass, Inc.</p>
</body>

</html>