<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>Compassギフトサイト</title>
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="keywords" content="ギフト,酒,タンブラー,ワイン,グラス">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="/images/apple-touch-icon.png">
  <meta name="twitter:card" content="summary">
  <meta name="format-detection" content="telephone=no">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="canonical" href="">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" type="image/png" href="/images/icon/android-touch-icon.png" sizes="192x192">
  <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.3.0/dist/flickity.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2.3.0/dist/flickity.pkgd.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<body>
  <header>
    <div class="header-wrapper">
      <div class="header-flex">
        <div class="header-icon hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="header-logo">
        <a href="/">
          <div class="gallery-cell">
            <img class="forpc header-image" src="/images/logo/LOGO.png" alt="">
            <img class="forsp header-image" src="/images/logo/LOGO.png"
              srcset="/images/logo/LOGO.png 1x,/images/logo/LOGO@2x.png 2x,/images/logo/LOGO@3x.png 3x" alt="">
          </div>
        </a>
      </div>
      <div class="header-iconarea">
        <div class="header-icon forpc">
          <img src="/images/icon/search.png">
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-heart"></i>
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
    <div class="search-box forsp">
      <input type="text" name="search" placeholder="検索" class="textbox">
    </div>
  </header>

  <main>
    <nav class="navigation forpc">
      <ul>
        <% if (typeof category !='string' ) { %>
          <% category.forEach(function(val) { %>
            <li>
              <a href="/category/<%= val.id %>">
                <%= val.categoryname %>
              </a>
            </li>
            <% }) %>
              <% } %>
      </ul>
    </nav>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "autoPlay": true }'>
      <div class="gallery-cell">
        <img class="forpc header-image" src="/images/topimage.jpg" data-flickity-lazyload="/images/topimage.jpg" alt="">
        <img class="forsp header-image" src="/images/topimage_sp.jpg" data-flickity-lazyload="/images/topimage.jpg" alt="">
      </div>
      <div class="gallery-cell">
        <img class="forpc header-image" src="/images/topimage.jpg" data-flickity-lazyload="/images/topimage.jpg" alt="">
        <img class="forsp header-image" src="/images/topimage_sp.jpg" data-flickity-lazyload="/images/topimage.jpg" alt="">
      </div>
      <div class="gallery-cell">
        <img class="forpc header-image" src="/images/topimage.jpg" data-flickity-lazyload="/images/topimage.jpg" alt="">
        <img class="forsp header-image" src="/images/topimage_sp.jpg" data-flickity-lazyload="/images/topimage.jpg" alt="">
      </div>
    </div>
    <div class="img-txt">想いを形にする、世界に一つだけの名入れギフト。</div>
    <div class="wrap main-recommend-wrapper">
      <h3 class="headline-standard libre-baskerville">
        RECOMMENDATION
        <span class="headline-small noto-sans">おすすめ商品</span>
      </h3>
      <div class="product-row-wrapper">
        <div id="recommendctrl" class="forsp product-controller">
          <span class="leftarrow">
            <i class="fa-solid fa-angles-left fa-2x"></i>
          </span>
          <span class="rightarrow">
            <i class="fa-solid fa-angles-right fa-2x"></i>
          </span>
        </div>
        <div id="recommendarea" class="product-row-parent">
          <% if (typeof recommend !='string' ) { %>
            <% recommend.forEach(function(val) { %>
              <div class="product-row-child">
                <ul class="product-flex">
                  <li class="list-image">
                    <div class="favbutton">
                      <i class="hearton heartbutton fa-solid fa-heart display-none" value="">
                        <span>
                          <%= val.id %>
                        </span>
                      </i>
                      <i class="heartoff heartbutton fa-regular fa-heart" value="">
                        <span>
                          <%= val.id %>
                        </span>
                      </i>
                    </div>
                    <a href="/product/<%= val.id %>">
                      <img class="recommend1" src="<%= val.imagepath %>" alt="<%= val.productname %>">
                    </a>
                  </li>
                  <li class="list-category">
                    <%= val.categoryname %>
                  </li>
                  <li class="list-title">
                    <%= val.productname %>
                  </li>
                  <li class="list-content">
                    <p>
                      <%= val.description %>
                    </p>
                  </li>
                </ul>
              </div>
              <% }) %>
                <% } %>
        </div>
      </div>
    </div>
    <div class="wrap main-new-wrapper">
      <h3 class="headline-standard libre-baskerville">
        NEW
        <span class="noto-sans headline-small">&emsp;新商品</span>
      </h3>
      <div class="product-row-wrapper">
        <div id="newctrl" class="forsp product-controller">
          <span class="leftarrow">
            <i class="fa-solid fa-angles-left fa-2x"></i>
          </span>
          <span class="rightarrow">
            <i class="fa-solid fa-angles-right fa-2x"></i>
          </span>
        </div>
        <div id="newarea" class="product-row-parent">
          <% if (typeof newdata !='string' ) { %>
            <% newdata.forEach(function(val) { %>
              <div class="product-row-child">
                <ul class="product-flex">
                  <li class="list-image">
                    <div class="favbutton">
                      <i class="hearton heartbutton fa-solid fa-heart display-none" value="">
                        <span>
                          <%= val.id %>
                        </span>
                      </i>
                      <i class="heartoff heartbutton fa-regular fa-heart" value="">
                        <span>
                          <%= val.id %>
                        </span>
                      </i>
                    </div>
                    <a href="/product/<%= val.id %>">
                      <img class="recommend1" src="<%= val.imagepath %>" alt="<%= val.productname %>">
                    </a>
                  </li>
                  <li class="list-category">
                    <%= val.categoryname %>
                  </li>
                  <li class="list-title">
                    <%= val.productname %>
                  </li>
                  <li class="list-content">
                    <p>
                      <%= val.description %>
                    </p>
                  </li>
                </ul>
              </div>
              <% }) %>
                <% } %>
        </div>
      </div>
    </div>
    <div class="main-ranking-wrapper">
      <h3 class="headline-standard libre-baskerville">
        RANKING
        <span class="noto-sans headline-small">&emsp;ランキング</span>
      </h3>
      <div class="ranking-row-wrapper">
        <ul id="rankingarea" class="ranking-row-parent">
          <% if (typeof ranking !='string' ) { %>
            <% ranking.forEach(function(val) { %>
              <li class="ranking-row-child">
                <a href="/product/<%= val.id %>">
                  <img class="recommend1" src="<%= val.imagepath %>" alt="<%= val.productname %>">
                </a>
              </li>
              <% }) %>
                <% } %>
        </ul>
      </div>
    </div>
    <div class="wrap main-new-wrapper">
      <h3 class="headline-standard libre-baskerville">
        RECENT
        <span class="noto-sans headline-small">&emsp;最近チェックしたアイテム</span>
      </h3>
      <div class="product-row-wrapper">
        <div id="newctrl" class="forsp product-controller">
          <span class="leftarrow">
            <i class="fa-solid fa-angles-left fa-2x"></i>
          </span>
          <span class="rightarrow">
            <i class="fa-solid fa-angles-right fa-2x"></i>
          </span>
        </div>
        <div id="newarea" class="product-row-parent">
          <% if (typeof recent !='string' ) { %>
            <% recent.forEach(function(val) { %>
              <div class="product-row-child">
                <ul class="product-flex">
                  <li class="list-image">
                    <div class="favbutton">
                      <i class="hearton heartbutton fa-solid fa-heart display-none" value="">
                        <span>
                          <%= val.id %>
                        </span>
                      </i>
                      <i class="heartoff heartbutton fa-regular fa-heart" value="">
                        <span>
                          <%= val.id %>
                        </span>
                      </i>
                    </div>
                    <a href="/product/<%= val.id %>">
                      <img class="recommend1" src="<%= val.imagepath %>" alt="<%= val.productname %>">
                    </a>
                  </li>
                  <li class="list-category">
                    <%= val.categoryname %>
                  </li>
                  <li class="list-title">
                    <%= val.productname %>
                  </li>
                  <li class="list-content">
                    <p>
                      <%= val.description %>
                    </p>
                  </li>
                </ul>
              </div>
              <% }) %>
                <% } %>
        </div>
      </div>
    </div>
    <div class="main-news-wrapper">
      <div class="main-article-wrapper">
        <h3 class="news-standard libre-baskerville">
          NEWS
          <span class="noto-sans headline-small">&emsp;新着記事</span>
        </h3>
        <div class="main-article-content">
          <ul class="news-flex">
            <% if (typeof news != 'string') { %>
            <% news.forEach(function(val) { %>
            <li class="list-image">
              <img class="new1" src="<%= val.imageurl %>">
            </li>
            <li class="list-title">
              <h4><%= val.title %></h4>
            </li>
            <li class="list-content">
              <%= val.content %>
            </li>
            <li class="list-date">
              <%= val.date %>
            </li>
            <% }) %>
            <% } %>
          </ul>
          <div class="list-seemore">
            <a href="" class="btn">もっと見る</a>
          </div>
        </div>
      </div>
      <div class="main-sub-wrapper">
        <div class="main-appeal-wrapper">
          <img class="new5" src="/images/news/news5.jpg"
            srcset="/images/news/news5.jpg, /images/news/news5@2x.jpg, /images/news/news5@3x.jpg" alt="">
          <img class="new6" src="/images/news/news6.jpg"
            srcset="/images/news/news6.jpg, /images/news/news6@2x.jpg, /images/news/news6@3x.jpg" alt="">
        </div>
        <div class="main-category-wrapper">
          <h3 class="headline-side libre-baskerville">
            CATEGORY<br class="forpc">
            <span class="noto-sans headline-small">&emsp;カテゴリ</span>
          </h3>
          <ul>
            <% if (typeof category !='string' ) { %>
              <% category.forEach(function(val) { %>
                <li>
                  <a href="/category/<%= val.id %>" class="btn">
                    <%= val.categoryname %>
                  </a>
                </li>
                <% }) %>
                  <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-introduction-wrapper">
      <% if (typeof category !='string' ) { %>
        <% category.forEach(function(val, idx) { %>
          <% var direction=idx % 2==0 ? 'right' : 'left' ; %>
            <div class="main-genre-wrapper <%= direction %>">
              <div class="main-genre-img-wrapper">
                <img class="appeal" src="<%= val.imagepath %>">
              </div>
              <div class="main-genre-content-wrapper">
                <h4 class="">
                  <span class="header">
                    <%= val.englishname %>
                  </span>
                  <br>
                  <%= val.categoryname %>
                </h4>
                <p>
                  <%= val.context %>
                </p>
                <a href="/category/<%= val.id %>" class="btn">もっと見る</a>
              </div>
            </div>
            <% }) %>
              <% } %>
    </div>
  </main>

  <footer>
    <hr>
    <div class="footer-area">
      <div class="content-area">
        <img class="appeal" src="/images/logo/LOGO.png">
        <div class="category">
          <% if (typeof category !='string' ) { %>
            <% category.forEach(function(val) { %>
              <div>
                <a href="/category/<%= val.id %>">
                  <%= val.categoryname %>
                </a>
              </div>
              <% }) %>
                <% } %>
        </div>
        <div class="content">
          <div>テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
        </div>
      </div>
      <div class="icon-area">
        <div>
          <img src="/images/logo/facebook.png" alt="facebookロゴ">
        </div>
        <div>
          <img src="/images/logo/instagram.png" alt="instagramロゴ">
        </div>
        <div>
          <img src="/images/logo/line.png" alt="lineロゴ">
        </div>
        <div>
          <img src="/images/logo/xcompany.png" alt="xcompanyロゴ">
        </div>
      </div>
    </div>
    <p class="copyright">Copyright 2025 Compass, Inc.</p>
  </footer>
</body>

</html>