<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>
    <%= title %>サイト管理画面
  </title>
  <meta name="robots" content="noindex, nofollow">
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  <header>
    <h2>
      <%= title %>管理画面
    </h2>
  </header>

  <table class="btntbl">
    <tr>
      <td>
        <a href="<%= root %>/manage/product">商品管理画面</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= root %>/manage/category">カテゴリ管理画面</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= root %>/manage/review">レビュー管理画面</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= root %>/manage/good">いいね管理画面</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= root %>/manage/news">ニュース管理画面</a>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <form action="/manage/init" id="initform" method="post">
          <input type="submit" value="DB更新処理">
        </form>
      </td>
    </tr>
  </table>
  <p class="copyright">Copyright 2025 Compass, Inc.</p>
</body>

</html>