<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>
    <%= title %>管理画面
  </title>
  <meta name="robots" content="noindex, nofollow">
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/productmanage.css">
  <script src="/js/manage.js"></script>
</head>

<body>
  <header>
    <h2>
      <%= title %>管理画面
    </h2>
    <a href="<%= root %>/manage/">前の画面へ戻る</a>
  </header>
  <table class="btntbl">
    <tr>
      <th>ID</th>
      <th>商品名</th>
      <th>バリアントID</th>
      <th>おススメ</th>
      <th>新商品</th>
    </tr>
    <form action="/manage/product" id="regform" method="post">
      <% if (data.length > 0) { %>
      <% for ( let i=0; i < data.length; i++ ) { %>
      <tr>
        <td>
          <%= data[i].id %>
        </td>
        <td>
          <%= data[i].productname %>
        </td>
        <td>
          <input type="text" class="standard" name="variantid" value="<%= data[i].variantid %>">
        </td>
        <td>
          <% if (recommendarr) { %>
          <input type="checkbox" id="checkbox1" class="checkbox1" name="check1[]" value="<%= i %>"
            <%= recommendarr.indexOf(data[i].id) > -1 ? 'checked'  : '' %> >
          <% } else { %>
            <input type="checkbox" id="checkbox1" class="checkbox1" name="check1[]" value="<%= i %>">
          <% } %>
        </td>
        <td>
          <% if (newarr) { %>
          <input type="checkbox" id="checkbox2" class="checkbox2" name="check2[]" value="<%= i %>" <%= newarr.indexOf(data[i].id) > -1 ? 'checked' : '' %> >
          <% } else { %>
            <input type="checkbox" id="checkbox2" class="checkbox2" name="check2[]" value="<%= i %>">
          <% } %>
        </td>
        <input type="hidden" id="id" name="id" value="<%= data[i].id %>">
      </tr>
      <% } %>
      <% } %>
      <tr>
        <td colspan="5">
          <button class="subbutton button-g button-6 button-wide" type="submit">登録</button>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <a href="<%= root %>/manage/">前の画面へ戻る</a>
        </td>
      </tr>
    </form>
  </table>
  <p class="copyright">Copyright 2025 Compass, Inc.</p>
</body>

</html>